<h1>Actor Details</h1>
  <h2>Actor #<%= @actor.id %></h2>


<ul>
  <li>Dob: <%= @actor.dob %></li>

  <li>Name: <%= @actor.name %></li>

  <li>Bio: <%= @actor.bio %></li>

  <li>Image: <img src="<%= @actor.image_url %>" width="320"></li>

</ul>
