<h1>Movie Details</h1>

<h2>Movie #<%= @movie.id %></h2>


<ul>
<li>Title: <%= @movie.title %></li>

<li>Year: <%= @movie.year %></li>

<li>Duration: <%= @movie.duration %></li>

<li>Description: <%= @movie.description %></li>

<li>Image: <img src="<%= @movie.image_url %>" width="320"></li>


</ul>
