<h1>Director Details</h1>
  <h2>Director #<%= @director.id %></h2>


<ul>
  <li>Dob: <%= @director.dob %></li>

  <li>Name: <%= @director.name %></li>

  <li>Bio: <%= @director.bio %></li>

  <li>Image: <img src="<%= @director.image_url %>" width="320"></li>

</ul>
